@(templateForm: Form[Template])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@main {
    
    <h1>Creates a new Template</h1>
    
    @form(routes.Application.save()) {
        
        <fieldset>
        
            @inputText(templateForm("name"), '_label -> "Template name")
            @inputFile(templateForm("diskFile"), '_label -> "Browse HD")
            
        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Create this computer" class="btn primary"> or 
            <a href="@routes.Application.list()" class="btn">Cancel</a> 
        </div>
        
    }
    
}